@using LearnVocabulary.Models.RequestFolder;
@model WordNameReq

<form asp-action="Create" asp-controller="Word" method="post">
    <input type="text" asp-for="Text" id="myInput" autocomplete="off"/>
    <input type="submit" value="Add"/>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myInput = document.getElementById("myInput");
        myInput.focus();
    });
</script>