@using LearnVocabulary.Models.RequestFolder;
@model WordNameReq

<div>

    <form asp-action="Create" asp-controller="Word" method="post">
        <div class="input-group">
            <input type="text" asp-for="Text" id="create" autocomplete="off" class="form-control"/>
            <input type="submit" value="Add" class="btn btn-outline-primary mb-3"/>

        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myInput = document.getElementById("create");
        myInput.focus();
    });
</script>