@model UnknownWord

<p>@Model.EnglistText</p>  
<form method="post" asp-action="TranslateWord" asp-controller="Word">

    <p>Translate:</p>
    @if (!(Model.EnglistText == "Please Add Word First"))
    {
        <input type="hidden" asp-for="Id" />
        <input type="text" asp-for="TurkishText" placeholder="Translate Word" value="" autocomplete="off"/>
        <input type="submit" value="Translate" />
    }
</form>
